main {
    display: flex;
}

body {
    font-family: Tahoma, Verdana, Geneva, sans-serif;
}

.perfil {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    border: black solid 1px;
    margin-top: 25px;
}

.pessoal {
    background-color: #000000;
    font-family: Tahoma, Verdana, Geneva, sans-serif;
    color: white;
    width: 25%;
    float: right;
}

.geral {
    width: 75%;
    float: left;
    font-family: Tahoma, Verdana, Geneva, sans-serif;
}

.nome {
    color: #FF0000;
    font-size: 30px;
    padding-left: 30px;
    height: 20px;
}

.titulo {
    padding-left: 30px;
    font-weight: bold;
    font-size: 20px;
    color: #008000;
}

.habilidades {
    font-size: 15px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-left: 30px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #eee;
  height: 60px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.geral hr {
    width: 95%;
}

a {
    text-decoration: none;
    color: rgb(255, 0, 0);
}
